{% extends "asset_dashboard/partials/project_base.html" %}
{% load static %}
{% load humanize %}

{% block extra_css %}
  <link href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" rel="stylesheet">
{% endblock %}

{% block project %}
<section class="m-2">
<form method="post">
  {% csrf_token %}
  <div class="row">
    <div class="border border-secondary rounded shadow-sm col m-2 p-3 card">
      
        {{ form.errors }}
    
        <div class="row col justify-content-between">
          {% if phase %}
            <h3>Update Phase</h3>
            <input type="submit" value="Save All Changes" class="btn btn-info">
          {% else %}
            <h3>Create Phase</h3>
            <input type="submit" value="Save Phase" class="btn btn-info">
          {% endif %}
        </div>

        <div class="row my-4">
          <div class="col">
            <strong>Phase</strong>
            {{ form.phase_type }}
          </div>
          <div class="col">
            <strong>Status</strong>
            {{ form.status }}
          </div>
          <div class="col">
            <strong>Bid Quarter</strong>
            {{ form.estimated_bid_quarter }}
          </div>
          <div class="col">
            <strong>Year</strong>
            {{ form.year }}
          </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col border border-secondary rounded shadow-sm p-3 m-2 card">
      <div class="d-flex justify-content-between m-3">
        <h3>Phase Funding</h3>
        {% if phase %}
          <a href="{% url 'create-funding' pk=phase.id %}" class="text-info lead">Add funding ></a>
        {% endif %}
      </div>
      {% if funding_streams %}
        <table class="table table-hover table-border py-4">
          <thead>
            <tr>
              <th>Year</th>
              <th>Funds</th>
              <th>Actual Cost</th>
              <th>Source</th>
              <th>Secured</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="phase_funding">
            {% for form in existing_funding_forms %}
              <tr>
                <td class="pl-2">{{ form.year }}</td>
                <td class="pl-2">{{ form.budget }}</td>
                <td class="pl-2">{{ form.actual_cost }}</td>
                <td class="pl-2">{{ form.source_type }}</td>
                <td class="pl-2">{{ form.funding_secured }}</td>
                <td style="width: 12%;"><a href="/" class='btn btn-sm btn-outline-danger'><i class='fas fa-trash'></i> Delete</a>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if phase %}
          <div>
            <p class="lead">Estimated Cost: ${{ phase.total_budget|intcomma }}</p>
            <p class="lead">Funded Amount: ${{ phase.total_funded_amount|intcomma }}</p>
          </div>
        {% endif %}
      {% else %}
        <p>
          {% if phase and not funding_stream %}
            This phase has no funding.
          {% else %}
            Create the phase so you can add funding.
          {% endif %}
        </p>
      {% endif %}
      <div>
        <a href="#phase_funding" class="text-info lead" onclick="addSource()">+ Add a source</a>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="col border border-secondary rounded shadow-sm p-3 m-2 card">
    {% if not props %}
      <h3>Phase Assets</h3>
      <div>
        <p>
          {% if phase and not props %}
            This phase has no GIS assets. &nbsp;<a href="{% url 'create-update-assets' pk=phase.id %}" class="text-info lead">Add Assets ></a>
          {% elif not phase and not props %}
            Create the phase so you can add GIS assets.
          {% else %}
            <a href="{% url 'create-update-assets' pk=phase.id %}" class="text-info lead">Edit Assets ></a>
          {% endif %}
        </p>
      </div>
    {% else %}
      <div id="map">
        <div class="text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
</section
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  {% load compress %}
  {{ props|json_script:"props" }}
  <script type="text/javascript">
    window.props = JSON.parse(document.getElementById('props').textContent)
    window.reactMount = document.getElementById('map')

    function addSource() {
      fundingTable = document.getElementById("phase_funding")
      new_row =  `<tr>
          <td class='pl-2'>{{ form.funding_streams.year }}</td>
          <td class='pl-2'>{{ form.funding_streams.budget }}</td>
          <td class='pl-2'>{{ form.funding_streams.actual_cost }}</td>
          <td class='pl-2'>{{ form.funding_streams.source_type }}</td>
          <td class='pl-2'>{{ form.funding_streams.funding_secured }}</td>
          <td style='width: 12%;'><a href='#' class='btn btn-sm btn-outline-danger'><i class='fas fa-trash'></i> Delete</a>
        </tr>`
      fundingTable.innerHTML += new_row
    }
  </script>
  {% compress js %}
    <script type="text/jsx" src="{% static 'js/components/PhaseDetailAssetTable.js' %}"></script>
  {% endcompress %}
{% endblock %}
