<form method="post"> 
    {% csrf_token %}

    {{ form.errors }}
    <div class="row mb-4">
        <div class="col-lg-6 col-md-12">
            <strong>Project Name</strong>
            {{ form.name }}
        </div>
        
        <div class="col-lg-4 col-md-12">
            <strong>Section Owner</strong>
            {{ form.section_owner }}
        </div>
        
        <div class="col-lg-2 col-md-12 d-flex justify-content-center align-items-end">
            <input type="submit" value="Save Project" class="btn btn-primary">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form.description }}
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <div class="m-4">
                <strong>Project Category</strong>
                {{ form.category }}
            </div>

            <div class="row">
                <div class="col m-4">
                    <div class="p-2">
                        <strong>Zones</strong>
                    </div>

                    {{ form.zones }}
                </div>
            </div>
        </div>

        <div class="col-4 m-4">
            <table class="mb-3">
                {{ score_form }}
            </table>

            <div class="d-flex justify-content-between lead">
                <strong>Weighted Score Total:</strong>
                <p class="text-center">{{ total_score|floatformat:2 }}</p>
            </div>
        </div>
    </div>

    <div class="row m-4">
        <div class="col m-4">
            <strong>Phase</strong>
                {{ phase_form.phase_type }}
        </div>
        <div class="col m-4">
            <strong>Estimated Bid Quarter</strong>
            {{ phase_form.estimated_bid_quarter }}
        </div>
        <div class="col m-4">
            <strong>Estimated Bid Quarter</strong>
            {{ phase_form.status }}
        </div>
    </div>

    <div class="row m-4 p-4">
        <div class="col">
            <div class="p-2 text-center">
                <strong>Senate Districts</strong>
            </div>

            {{ form.senate_districts }}
        </div>

        <div class="col">
            <div class="p-2 text-center">
                <strong>House Districts</strong>
            </div>

            {{ form.house_districts }}
        </div>

        <div class="col">
            <div class="p-2 text-center">
                <strong>Commissioner Districts</strong>
            </div>

            {{ form.commissioner_districts }}
        </div>
    </div>
</form>
    