<section class="border border-secondary rounded shadow-sm p-3 m-2 card">
  <form method="post">
      {% csrf_token %}

      {{ form.errors }}
      <div>
        <div class="text-right">
            <input type="submit" value="Save Project" class="btn btn-info">
        </div>
      </div>
      
      <div class="row">
        <div class="col-4">
          <div class="my-3">
              <label for="Project Name"><strong>Project Name</strong></label>
              {{ form.name }}
          </div>

          <div class="my-3">
              <label for="Section Owner"><strong>Section Owner</strong></label>
              {{ form.section_owner }}
          </div>
          
          <div class="my-3">
              <label for="Project Manager"><strong>Project Manager</strong></label>
              {{ form.project_manager }}
          </div>
          
          <div class="my-3">
              <label for="Project Category"><strong>Project Category</strong></label>
              {{ form.category }}
          </div>
        </div>
        <div class="col-8 my-3">
          <label for="Project Description"><strong>Description</strong></label>
          {{ form.description }}
        </div>
      </div>

      <div class="row mt-5">
          <div class="col border border-secondary rounded shadow-sm p-3 m-4">
              <h3>Geography</h3>

              <div class="row m-4">
                  <div class="col">
                      <div>
                        <strong>Zones</strong>

                        <ul class="list-unstyled">
                          {% for zone in project.zones.all %}
                            <li>{{ zone.name }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                  </div>

                  <div class="col">
                      <strong>Commissioner Districts</strong>

                      <ul class="list-unstyled" >
                        {% for district in project.commissioner_districts.all %}
                          <li>{{ district.name }}</li>
                        {% endfor %}
                      </ul>
                  </div>

                  <div class="col">
                      <strong>Senate Districts</strong>

                      <ul class="list-unstyled">
                        {% for district in project.senate_districts.all %}
                          <li>{{ district.name }}</li>
                        {% endfor %}
                      </ul>
                  </div>

                  <div class="col">
                      <strong>House Districts</strong>

                      <ul class="list-unstyled">
                        {% for district in project.house_districts.all %}
                          <li>{{ district.name }}</li>
                        {% endfor %}
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-4 border border-secondary rounded shadow-sm p-3 m-4">
              <table class="mb-3">
                  <tbody>
                      <tr>
                        <th>
                          <label for="Core Mission Score"><strong>Core mission score:</strong></label>
                        </th>
                        <td>{{ score_form.core_mission_score }}</td>
                      </tr>
                      
                      <tr>
                        <th>
                          <label for="Operations impact score"><strong>Operations impact score:</strong></label>
                        </th>
                        <td>{{ score_form.operations_impact_score }}</td>
                      </tr>
                      
                      <tr>
                        <th>
                          <label for="Sustainability score"><strong>Sustainability score:</strong></label>
                        </th>
                        <td>{{ score_form.sustainability_score }}</td>
                      </tr>
                      
                      <tr>
                        <th>
                          <label for="Ease score"><strong>Ease score:</strong></label>
                        </th>
                        <td>{{ score_form.ease_score }}</td>
                      </tr>
                      
                      <tr>
                        <th>
                          <strong>Geographic distance score:</strong>
                        </th>
                        <td>{{ project.projectscore.geographic_distance_score }}</td>
                      </tr>
                      
                      <tr>
                        <th>
                          <strong>Social equity score:</strong>
                        </th>
                        <td>{{ project.projectscore.social_equity_score|floatformat:2 }}</td>
                      </tr>
                  </tbody>
              </table>

              <div class="d-flex lead">
                  <strong>Weighted Score Total: &nbsp;</strong>
                  <p>{{ total_score|floatformat:2 }}</p>
              </div>
          </div>
      </div>
  </form>
</section>
