<form method="post"> 
    {% csrf_token %}

    <div class="container p-4">
        {{ form.errors }}
        <div class="row mb-4">
            <div class="col-6">
                <strong>Project Name</strong>
                {{ form.name }}
            </div>
            
            <div class="col-4">
                <strong>Section Owner</strong>
                {{ form.section_owner }}
            </div>
            
            <div class="col-2 d-flex justify-content-center">
                <div>
                    <input type="submit" value="Save Project" class="btn btn-primary">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.description }}
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <div class="m-4">
                    <strong>Project Category</strong>
                    {{ form.category }}
                </div>

                <div class="row">
                    <div class="col m-4">
                        <div class="d-flex justify-content-between p-2">
                            <strong>Zones</strong>
                            <small class="text-secondary">delete?</small>
                        </div>
                        {{ zone_formset.management_form }}
                        {% for zone_form in zone_formset %}
                            <div class="m-2 d-flex justify-content-between">
                                {{ zone_form.id }}
                                {{ zone_form.name }}
                                {{ zone_form.DELETE }}
                            </div>
                            <p class="text-warning">{{ zone_form.errors.as_text }}</p>
                        {% endfor %}
                    </div>

                    <div class="col d-flex justify-content-around m-4">
                        <strong>Phase Completed?</strong>
                        {{ form.phase_completion }}
                    </div>
                </div>
            </div>

            <div class="col-4 m-4">
                <table >
                    {{ score_form }}
                </table>
            </div>
        </div>

        <div class="row m-4 p-4 border">
            <div class="col text-center">
                <div class="d-flex justify-content-between p-2">
                    <strong>Senate Districts</strong>
                    <small class="text-secondary">delete?</small>
                </div>

                {{ senate_district_formset.management_form }}
                {% for senate_form in senate_district_formset %}
                    <div class="m-2 d-flex justify-content-between">
                        {{ senate_form.id }}
                        {{ senate_form.name }}
                        {{ senate_form.DELETE }}
                    </div>
                    <p class="text-warning">{{ senate_form.errors.as_text }}</p>
                {% endfor %}
            </div>

            <div class="col text-center">
                <div class="d-flex justify-content-between p-2">
                    <strong>House Districts</strong>
                    <small class="text-secondary">delete?</small>
                </div>
                
                {{ house_district_formset.management_form }}
                {% for house_district in house_district_formset %}
                    <div class="m-2 d-flex justify-content-between">
                        {{ house_district.id }}
                        {{ house_district.name }}
                        {{ house_district.DELETE }}
                    </div>
                    <p class="text-warning">{{ house_district.errors.as_text }}</p>
                {% endfor %}
            </div>

            <div class="col">
                <div class="d-flex justify-content-between p-2">
                    <strong>Commissioner Districts</strong>
                    <small class="text-secondary">delete?</small>
                </div>
                
                {{ commissioner_district_formset.management_form }}
                {% for commissioner_district in commissioner_district_formset %}
                    <div class="m-2 d-flex justify-content-between">
                        {{ commissioner_district.id }}
                        {{ commissioner_district.name }}
                        {{ commissioner_district.DELETE }}
                    </div>
                    <p class="text-warning">{{ commissioner_district.errors.as_text }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</form>
