.cursor-pointer {
    cursor: pointer;
}

input[type="checkbox"] {
    width: 40px;
}

.dataTables_filter {
    display: none;
}

/* hides the currency type dropdown in the form input for money fields */
#id_budget_1, #id_funds_1, #id_actual_cost_1 {
    display: none;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.map-container {
    height: 85vh;
}

.map-thumbnail {
    height: 40vh;
}

#server-error, .year-error, .budget-error, .cost-error, .source-error, .secured-error {
    display: none;
    font-size: 0.8em;
    color: red;
}

#server-error.visible, .year-error.visible, .budget-error.visible, .cost-error.visible, .source-error.visible, .secured-error.visible {
    display: block;
}

.existing-tr>td, .new-tr>td {
    padding: 0px;
    border: 0px;
}

.existing-tr tr:hover, .new-tr tr:hover {
    background-color: transparent !important;
}

.funding-table th:nth-child(-n+5), .funding td:nth-child(-n+5){
    width: 17%;
}
