.cursor-pointer {
    cursor: pointer;
}

input[type="checkbox"] {
    width: 40px;
}

.dataTables_filter {
    display: none;
}

/* hides the currency type dropdown in the form input for money fields */
#id_budget_1, #id_funds_1, #id_total_estimated_cost_1, #id_actual_cost_1 {
    display: none;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.map-container {
    height: 85vh;
}

.map-thumbnail {
    height: 40vh;
}
