.cursor-pointer {
    cursor: pointer;
}

input[type="checkbox"] {
    width: 40px;
}

.dataTables_filter {
    display: none;
}

/* hides the currency selection in the ProjectFinances.budget form input */
#id_budget_1, #id_funds_1 {
    display: none;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.map-container {
    height: 80vh;
}

.map-thumbnail {
    height: 40vh;
}
