{% extends "asset_dashboard/partials/project_base.html" %}
{% load static %}

{% block extra_css %}
  <link href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>
{% endblock %}

{% block project %}
  <h3 class="text-right">{{ phase.name }}</h3>
  <div id="map">
      <!-- Contents get replaced by mounted React.Component -->
      <div class="text-center">
          <i class="fa fa-lg fa-spinner fa-spin"></i><br><br>
          <i class="pending">Loading map...</i><br><br>
      </div>
  </div>

  <!-- {% if props.existing_assets %}
    <table class="table table-hover table-border">
      <thead>
        <tr>
          <td><strong>Identifier</strong></td>
          <td><strong>Name</strong></td>
          <td><strong>Type</strong></td>
        </tr>
      </thead>
      <tbody>
        {% for asset in props.existing_assets.features %}
          <tr>
            <td>{{ asset.properties.asset_id }}</td>
            <td>{{ asset.properties.asset_name }}</td>
            <td>{{ asset.properties.asset_type }}</td>
            <td>Delete</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %} -->
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  {% load compress %}
  {{ props|json_script:"props" }}
  <script type="text/javascript">
    window.props = JSON.parse(document.getElementById('props').textContent)
    window.reactMount = document.getElementById('map')
  </script>
  {% compress js %}
    <script type="text/jsx" src="{% static 'js/components/maps/AssetsMap.js' %}"></script>
  {% endcompress %}
{% endblock %}
