{% extends "asset_dashboard/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="bg-primary">
  <div id="App" class="container bg-light">
    <!-- Contents get replaced by mounted React.Component -->
    <div class="text-center">
      <i class="fa fa-lg fa-spinner fa-spin"></i><br><br>
      <i class="pending">Loading dashboard...</i><br><br>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
{% load compress %}
{{ props|json_script:"props" }}
<script type="text/javascript">
  window.props = JSON.parse(document.getElementById('props').textContent)
  window.reactMount = document.getElementById('App')
</script>
{% compress js %}
  <script type="text/jsx" src="{% static view.component %}"></script>
  <script type="module" src="{% static 'js/base.js' %}"></script>
{% endcompress %}
{% endblock %}
