{% extends 'asset_dashboard/base.html' %}
{% load static %}
{% load static widget_tweaks i18n %}

{% block title %}Promote Assets Phase{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 bg-white p-3 border rounded shadow-sm">
                <h2 class="text-center">Promote Assets to Phase</h2>
                <form method="POST">
                  {% csrf_token %}

                  {{ form.errors }}
                  
                  <div class="col p-4">
                    <p>Choose the new phase for the assets.<p>
                    <strong>Phase</strong>
                    {{ form.phase }}
                  </div>

                  <div class="text-center m-2">
                    <input type="submit" value="Confirm" class="btn btn-info">
                  </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}