{% extends 'asset_dashboard/base.html' %}
{% load static %}
{% load static widget_tweaks i18n %}

{% block title %}Delete Phase{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 bg-white p-3 border rounded shadow-sm">
                <h2 class="text-center">Delete Phase</h2>
                <form method="POST">{% csrf_token %}
                  <p class="text-center">Are you sure you want to delete <strong>{{ object }}</strong> phase from <strong>{{ object.project }}</strong> project?</p>
                  {{ form }}

                  <div class="text-center m-2">
                    <input type="submit" value="Confirm" class="btn btn-danger">
                    <a href="/projects/{{object.project.pk}}" class="btn btn-outline-primary mt-md-2 mt-lg-0">Back to project edit</a>
                  </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}