{% extends "asset_dashboard/base.html" %}
{% load static %}

{% block title %}Projects by District{% endblock %}

{% block body %}
  <div>
      <div class="card mt-4 p-4 col-12 col-lg-10 mx-auto shadow-sm">
        <div class="card-body table-responsive">
          <div class="row text-left">
            <h1 class="col-8">Projects by District</h1>
          </div>

          <!-- TODO: add filtering and searching, with javascript -->

          <table class="table table-hover table-border py-4 dataTable no-footer" id="project-by-district-list-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Senate District</th>
                <th>House District</th>
                <th>Commissioner District</th>
              </tr>
            </thead>
            <tbody>
              {% for project in projects %}
                <tr>
                  <td>{{ project.name }}</td>
                  <td>{{ project.description }}</td>
                  <td>{{ project.category }}</td>

                  <!-- TODO: show the list of district names. 
                    i need advice on how to do this. each district returns a queryset.
                    somehow, a project's list of districts need to be combined for display
                    in the table. it could look like: Senate 17, Senate 18 or 17, 18.
                    should i parse out each district in the template or create a model method to do this? -->
                  <td>senate</td>
                  <td>house</td>
                  <td>commissioner</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </div>
{% endblock %}
