{% extends "asset_dashboard/base.html" %}
{% load static %}

{% block title %}Capital Projects{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <h1 class="col-10">Hey, user!</h1>
      <div class="col-2 d-flex justify-content-center">
        <div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#projectForm">
            Add Project
          </button>
        </div>
      </div>
    </div>

    {% include "asset_dashboard/partials/add_project_modal_form.html" %}

    <div class="container-fluid">
      <div class="card mt-5 p-4 col-12 col-lg-10 mx-auto card-shadow">
        <h3>Capital Projects</h3>
        <div class="card-body">
          <table class="table table-striped table-border py-4 h-100" id="project-list-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Section</th>
                <th>Category</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/projectDataTable.js' %}"></script>
{% endblock %}
