{% extends "asset_dashboard/base.html" %}
{% load static %}

{% block title %}Capital Projects{% endblock %}

{% block body %}
  <div>
    <div class="row row d-flex justify-content-center">
      <h1 class="col-8">Capital Projects</h1>
      <div class="col-2 d-flex justify-content-end align-items-center">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#projectForm">
          Add Project
        </button>
      </div>
    </div>

    {% include "asset_dashboard/partials/forms/add_project_modal_form.html" %}

      <div class="card mt-4 p-4 col-12 col-lg-10 mx-auto shadow-sm">
        <div class="card-body table-responsive">

          <!-- these elements filter the table, with the help of javascript -->
          <div class="row d-flex justify-content-around">
              <input type="text" class="form-control col-lg-5 col-md-12 m-1" id="search-filter" placeholder="Search by Name or Description">

              <select class="form-control col-lg-3 col-md-12 m-1" id="section-select">
                <option value="" disabled selected >
                  Filter by Section
                </option>
                {% for section in sections %}
                  <option>
                    {{ section }}
                  </option>
                {% endfor %}
              </select>

              <select class="form-control col-lg-3 col-md-12 m-1" id="category-select">
                <option value="" disabled selected >
                  Filter by Category
                </option>
                {% for category in categories %}
                  <option>
                    {{ category }}
                  </option>
                {% endfor %}
              </select>
          </div>

          <table class="table table-hover table-border py-4 dataTable no-footer" id="project-list-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Section</th>
                <th>Category</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/projectDataTable.js' %}"></script>
{% endblock %}
