{% extends "asset_dashboard/base.html" %}
{% load static %}

{% block title %}Projects by District{% endblock %}

{% block body %}
  <div>
      <div class="card mt-4 p-4 col-12 col-lg-10 mx-auto shadow-sm">
        <div class="card-body table-responsive">
          <div class="row text-left">
            <h1 class="col-8">Projects by District</h1>
          </div>

          <!-- these elements filter the table, with the help of javascript -->
          <div class="row d-flex justify-content-around">
            <select class="form-control col-lg-3 col-md-12 m-1" id="senate-select">
              <option value="" disabled selected >
                Filter by Senate District
              </option>
              {% for district in senate_districts %}
                <option>
                  {{ district.name }}
                </option>
              {% endfor %}
            </select>

              <select class="form-control col-lg-3 col-md-12 m-1" id="house-select">
                <option value="" disabled selected >
                  Filter by House District
                </option>
                {% for district in house_districts %}
                  <option>
                    {{ district.name }}
                  </option>
                {% endfor %}
              </select>

              <select class="form-control col-lg-3 col-md-12 m-1" id="commissioner-select">
                <option value="" disabled selected >
                  Filter by Commissioner District
                </option>
                {% for district in commissioner_districts %}
                  <option>
                    {{ district.name }}
                  </option>
                {% endfor %}
              </select>
          </div>

          <table class="table table-hover table-border py-4 dataTable no-footer" id="project-by-district-list">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Senate Districts</th>
                <th>House Districts</th>
                <th>Commissioner Districts</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/districtFilterTable.js' %}"></script>
{% endblock %}
