{% load humanize %}

{% block phase_table %}
  <div>
    <table class="table table-hover table-border py-4">
      <thead>
        <tr>
          <th>Phase</th>
          <th>Status</th>
          <th>Total Budget</th>
          <th>Bid Quarter</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for phase in phases %}
          <tr>
            <td>{{ phase.phase_type }}</td>
            <td>{{ phase.status }}</td>
            <td>${{ phase.total_budget|intcomma }}</td>
            <td>{{ phase.estimated_bid_quarter }}</td>
            <td><a href="{% url 'edit-phase' pk=phase.id %}" class="text-info lead">Edit</a></td>
            <td style="width: 10%;"><a href="{% url 'delete-phase' pk=phase.id %}" class='btn btn-outline-danger'><i class='fas fa-trash'></i> Delete</a>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}