{% extends "asset_dashboard/base.html" %}

{% block title %}{{ project.name }}{% endblock %}

<!-- Base view that contains the various forms for a Project. -->
{% block body %}
  <div class="col">
    <h1 class="display-4 mb-4">{{ project.name }}</h1>
    
    <nav>
      <ul class="nav">
        <li>
          <a class="mx-2 btn btn-outline-primary nav-link" id="overview" href="{% url 'project-detail' pk=project.pk %}">Overview</a>
        </li>
        <li>
          <a class="mx-2 btn btn-outline-primary nav-link" id="phases" href="{% url 'create-phase'  pk=project.pk %}">Phase</a>
        </li>
      </ul>
    </nav>
    
    <div class="border border-secondary rounded shadow-sm p-3 m-2 card">
        {% block project %}{% endblock %}
    </div>
    
    {% block phase_list %}{% endblock %}
  </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  // JS for making the nav tab links look "active"
  const tabIds = [
    "phases",
  ]

  // Find the active tab in the tabIds array, based on window.location.pathname.
  // This helps us use separate templates and views for the different forms attached to a project.
  // I thought this was simpler, instead of using the Bootstrap tab mechanism, which would encourage
  // us to have all that logic on the same templates and views.
  const active = tabIds.find(element => window.location.pathname.includes(element))

  // If the path includes one of the tabIds, then that is the id selector we want.
  // Else it is the project overview page. Since all of the path names that use this template
  // will have "projects", we're using "overview" as the default home-like page for a project.
  const elementId = active ? active : "overview"
  
  document.getElementById(elementId).classList.add("btn-primary")
  document.getElementById(elementId).classList.remove('btn-outline-primary')
</script>
{% endblock %}
